:root {
  	scroll-behavior: smooth;
}

body {
	font-family: "Open Sans", sans-serif;
	background: #e0f8e9;
	color: #444444;
}

a {
	color: #28a745;
	text-decoration: none;
}

a:hover {
	color: #218838;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  	font-family: "Nunito", sans-serif;
}

#main {
	margin-top: 60px;
	padding: 20px 30px;
	transition: all 0.3s;
}

@media (max-width: 1199px) {
	#main {
		padding: 20px 30px;
	}
}

#calendar .fc-toolbar-title {
    font-size: 18px; /* Adjust the font size to your preference */
}
#calendar .fc-today-button {
	font-size: 10px;
}
#calendar .fc-button-group .fc-prev-button {
	font-size: 10px;
}
#calendar .fc-button-group .fc-next-button {
	font-size: 10px;
}

*form > label {
	font-weight: 600;
	color: #0c3b2e;
}

/* login & signup styling */
#auth-form .form-group label {
	color: #0c3b2e;
}
#auth-form #div_id_0-is_student {
	margin-top: 12px;
}
#auth-form .form-check .form-check-label {
	color: #363636
}

/* form wizard styling */
form .form-wizard .form-wizard-steps {
	margin: 30px 0;
}
form .form-wizard .form-wizard-steps li {
	width: 45%;
	float: left;
	position: relative;
}
form .form-wizard .form-wizard-steps li::after {
	background-color: #f3f3f3;
	content: "";
	height: 5px;
	left: 0;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	border-bottom: 1px solid #dddddd;
	border-top: 1px solid #dddddd;

}
form .form-wizard .form-wizard-steps li span {
	background-color: #dddddd;
	border-radius: 50%;
	display: inline-block;
	height: 40px;
	line-height: 40px;
	position: relative;
	text-align: center;
	width: 40px;
	z-index: 1;
}
form .form-wizard .form-wizard-steps li:last-child::after {
	width: 50%;

}
form .form-wizard .form-wizard-steps li.active span, .form-wizard .form-wizard-steps li.activated span {
	background-color: #18ad51;
	color: #ffffff;
}
form .form-wizard .form-wizard-steps li.active::after, .form-wizard .form-wizard-steps li.activated::after {
	background-color: #13bb46;
	left: 50%;
	width: 50%;
	border-color: #13bb46;
}
form .form-wizard .form-wizard-steps li.activated::after {
	width: 100%;
	border-color: #13bb46;
}
form .form-wizard .form-wizard-steps li:last-child::after {
	left: 0;
}

.pagetitle {
  	margin-bottom: 10px;
}

.pagetitle h1 {
	font-size: 24px;
	margin-bottom: 0;
	font-weight: 600;
	color: #0c3b2e;
}

.back-to-top {
	position: fixed;
	visibility: hidden;
	opacity: 0;
	right: 15px;
	bottom: 15px;
	z-index: 99999;
	background: #28a745;
	width: 40px;
	height: 40px;
	border-radius: 4px;
	transition: all 0.4s;
}

.back-to-top i {
	font-size: 24px;
	color: #fff;
	line-height: 0;
}

.back-to-top:hover {
	background: #2ECC71;
	color: #fff;
}

.back-to-top.active {
	visibility: visible;
	opacity: 1;
}

#preloader {
	position: fixed;
	inset: 0;
	z-index: 9999;
	overflow: hidden;
	background: #fff;
	transition: all 0.6s ease-out;
}

#preloader:before {
	content: "";
	position: fixed;
	top: calc(50% - 30px);
	left: calc(50% - 30px);
	border: 6px solid #146452;
	border-top-color: #d1d1d3;
	border-radius: 50%;
	width: 70px;
	height: 70px;
	-webkit-animation: animate-preloader 1s linear infinite;
	animation: animate-preloader 1s linear infinite;
}

@keyframes animate-preloader {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/* Dropdown menus */
.dropdown-menu {
	border-radius: 4px;
	padding: 10px 0;
	animation-name: dropdown-animate;
	animation-duration: 0.2s;
	animation-fill-mode: both;
	border: 0;
	box-shadow: 0 5px 30px 0 rgba(82, 63, 105, 0.2);
}

.dropdown-menu .dropdown-header, .dropdown-menu .dropdown-footer {
	text-align: center;
	font-size: 15px;
	padding: 10px 25px;
}

.dropdown-menu .dropdown-footer a {
	color: #444444;
	text-decoration: underline;
}

.dropdown-menu .dropdown-footer a:hover {
  	text-decoration: none;
}

.dropdown-menu .dropdown-divider {
	color: #c2e0c6;
	margin: 0;
}

.dropdown-menu .dropdown-item {
	font-size: 14px;
	padding: 10px 15px;
	transition: 0.3s;
}

.dropdown-menu .dropdown-item i {
	margin-right: 10px;
	font-size: 18px;
	line-height: 0;
}

.dropdown-menu .dropdown-item:hover {
  	background-color: #f6f9ff;
}

@media (min-width: 768px) {
	.dropdown-menu-arrow::before {
		content: "";
		width: 13px;
		height: 13px;
		background: #fff;
		position: absolute;
		top: -7px;
		right: 20px;
		transform: rotate(45deg);
		border-top: 1px solid #eaedf1;
		border-left: 1px solid #eaedf1;
	}
}

@keyframes dropdown-animate {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}

	0% {
		opacity: 0;
	}
}

/* Light Backgrounds */
.bg-primary-light {
	background-color: #cfe2ff;
	border-color: #cfe2ff;
}

.bg-secondary-light {
	background-color: #e2e3e5;
	border-color: #e2e3e5;
}

.bg-success-light {
	background-color: #d1e7dd;
	border-color: #d1e7dd;
}

.bg-danger-light {
	background-color: #f8d7da;
	border-color: #f8d7da;
}

.bg-warning-light {
	background-color: #fff3cd;
	border-color: #fff3cd;
}

.bg-info-light {
	background-color: #cff4fc;
	border-color: #cff4fc;
}

.bg-dark-light {
	background-color: #d3d3d4;
	border-color: #d3d3d4;
}

/* Card */
.card {
	margin-bottom: 30px;
	border: none;
	border-radius: 5px;
	box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}

.card-header, .card-footer {
	border-color: #ebeef4;
	background-color: #fff;
	color: #798eb3;
	padding: 15px;
}

.card-title {
	padding: 20px 0 15px 0;
	font-size: 18px;
	font-weight: 500;
	color: #0c3b2e;
	font-family: "Poppins", sans-serif;
}

.card-title span {
	color: #899bbd;
	font-size: 14px;
	font-weight: 400;
}

.card-body {
  	padding: 0 20px 20px 20px;
}

.card-img-overlay {
  	background-color: rgba(255, 255, 255, 0.6);
}

/* Alerts */
.alert-heading {
	font-weight: 500;
	font-family: "Poppins", sans-serif;
	font-size: 20px;
}

/* Close Button */
.btn-close {
  	background-size: 25%;
}

.btn-close:focus {
	outline: 0;
	box-shadow: none;
}

/* Breadcrumbs */
.breadcrumb {
	font-size: 14px;
	font-family: "Nunito", sans-serif;
	color: #899bbd;
	font-weight: 600;
}

.breadcrumb a {
	color: #899bbd;
	transition: 0.3s;
}

.breadcrumb a:hover {
  	color: #218838;
}

.breadcrumb .breadcrumb-item::before {
  	color: #899bbd;
}

.breadcrumb .active {
	color: #218838;
	font-weight: 600;
}

/* Bordered Tabs */
.nav-tabs-bordered {
  	border-bottom: 2px solid #ebeef4;
}

.nav-tabs-bordered .nav-link {
	margin-bottom: -2px;
	border: none;
	color: #2c384e;
}

.nav-tabs-bordered .nav-link:hover, .nav-tabs-bordered .nav-link:focus {
  	color: #28a745;
}

.nav-tabs-bordered .nav-link.active {
	background-color: #fff;
	color: #28a745;
	border-bottom: 2px solid #28a745;
}

.logo {
  	line-height: 1;
}

@media (min-width: 1200px) {
	.logo {
		width: 240px;
	}
}

.logo img {
	max-height: 26px;
	margin-right: 6px;
}

.logo span {
	font-size: 26px;
	font-weight: 700;
	color: #0c3b2e;
	font-family: "Nunito", sans-serif;
}

.header {
	transition: all 0.5s;
	z-index: 997;
	height: 60px;
	box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.7);
	background-color: #0a4c3f;
	padding-left: 20px;
}

.header .toggle-sidebar-btn {
	font-size: 32px;
	padding-left: 10px;
	cursor: pointer;
	color: #fff;
}

.header .search-bar {
	min-width: 360px;
	padding: 0 20px;
}

@media (max-width: 1199px) {
	.header .search-bar {
		position: fixed;
		top: 50px;
		left: 0;
		right: 0;
		padding: 20px;
		box-shadow: 0px 0px 15px 0px rgba(1, 41, 112, 0.1);
		background: white;
		z-index: 9999;
		transition: 0.3s;
		visibility: hidden;
		opacity: 0;
	}

	.header .search-bar-show {
		top: 60px;
		visibility: visible;
		opacity: 1;
	}
}

.header-nav ul {
  	list-style: none;
}

.header-nav>ul {
	margin: 0;
	padding: 0;
}

.header-nav .nav-icon {
	font-size: 22px;
	color: #fff;
	margin-right: 25px;
	position: relative;
}

.header-nav .nav-profile {
  	color: #fff;
}

.header-nav .nav-profile img {
  	max-height: 36px;
}

.header-nav .nav-profile span {
	font-size: 14px;
	font-weight: 600;
}

.header-nav .badge-number {
	position: absolute;
	inset: -2px -5px auto auto;
	font-weight: normal;
	font-size: 12px;
	padding: 3px 6px;
}

.header-nav .notifications {
  	inset: 8px -15px auto auto !important;
}

.header-nav .notifications .notification-item {
	display: flex;
	align-items: center;
	padding: 15px 10px;
	transition: 0.3s;
}

.header-nav .notifications .notification-item i {
	margin: 0 20px 0 10px;
	font-size: 24px;
}

.header-nav .notifications .notification-item h4 {
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 5px;
}
.header-nav .notifications .notification-item img {
	margin: 0 20px 0 10px;
	max-height: 40px;
}  
.header-nav .notifications .notification-item p {
	font-size: 13px;
	margin-bottom: 3px;
	color: #919191;
}
.header-nav .notifications .notification-item:hover {
  	background-color: #f6f9ff;
}
.header-nav .profile {
	min-width: 240px;
	padding-bottom: 0;
	top: 8px !important;
}

.header-nav .profile .dropdown-header h6 {
	font-size: 18px;
	margin-bottom: 0;
	font-weight: 600;
	color: #444444;
}

.header-nav .profile .dropdown-header span {
  	font-size: 14px;
}

.header-nav .profile .dropdown-item {
	font-size: 14px;
	padding: 10px 15px;
	transition: 0.3s;
}

.header-nav .profile .dropdown-item i {
	margin-right: 10px;
	font-size: 18px;
	line-height: 0;
}

.header-nav .profile .dropdown-item:hover {
  	background-color: #f6f9ff;
}

.sidebar {
	position: fixed;
	top: 60px;
	left: 0;
	bottom: 0;
	width: 300px;
	z-index: 996;
	transition: all 0.3s;
	padding: 20px;
	overflow-y: auto;
	scrollbar-width: thin;
	scrollbar-color: #aab7cf transparent;
	box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
	background-color: #146452;
}

@media (max-width: 1199px) {
	.sidebar {
		left: -300px;
	}
}

.sidebar::-webkit-scrollbar {
	width: 5px;
	height: 8px;
	background-color: #fff;
}

.sidebar::-webkit-scrollbar-thumb {
  	background-color: #aab7cf;
}

@media (min-width: 1200px) {
	#main, #footer {
		margin-left: 300px;
	}
}

@media (max-width: 1199px) {
	.toggle-sidebar .sidebar {
		left: 0;
	}
}

@media (min-width: 1200px) {
  	.toggle-sidebar #main, .toggle-sidebar #footer {
    	margin-left: 0;
  	}

	.toggle-sidebar .sidebar {
		left: -300px;
	}
}

.sidebar-nav {
	padding: 0;
	margin: 0;
	list-style: none;
}

.sidebar-nav li {
	padding: 0;
	margin: 0;
	list-style: none;
}

.sidebar-nav .nav-item {
  	margin-bottom: 5px;
}

.sidebar-nav .nav-heading {
	font-size: 11px;
	text-transform: uppercase;
	color: #899bbd;
	font-weight: 600;
	margin: 10px 0 5px 15px;
}

.sidebar-nav .nav-link {
	display: flex;
	align-items: center;
	font-size: 15px;
	font-weight: 600;
	color: #28a745;
	transition: 0.3;
	background: #f6f9ff;
	padding: 10px 15px;
	border-radius: 4px;
}

.sidebar-nav .nav-link i {
	font-size: 16px;
	margin-right: 10px;
	color: #28a745;
}
.sidebar-nav .nav-link .bi-grid-1x2-fill {
	color: #0cdf6e;
}
.sidebar-nav .nav-link .bi-person-video3 {
	color: #161697;
}
.sidebar-nav .nav-link .bi-collection-fill {
	color: #a80a0a;
}
.sidebar-nav .nav-link .bi-alarm-fill {
  	color: #e7b00c;
}
.sidebar-nav .nav-link .bi-laptop-fill {
	color: #ec660d;
}
.sidebar-nav .nav-link .bi-mortarboard-fill {
	color: #310505
}
.sidebar-nav .nav-link .bi-person-bounding-box {
	color: #0c0c88;
}
.sidebar-nav .nav-link .bi-door-open-fill {
	color: #db192c;
}

.sidebar-nav .nav-link.collapsed {
	color: #0c3b2e;
	background: #fff;
}

.sidebar-nav .nav-link.collapsed i {
  	color: #899bbd;
}

.sidebar-nav .nav-link:hover {
	color: #28a745;
	background: #f6f9ff;
}

.sidebar-nav .nav-link:hover i {
  	color: #28a745;
}

.sidebar-nav .nav-link .bi-chevron-down {
	margin-right: 0;
	transition: transform 0.2s ease-in-out;
}

.sidebar-nav .nav-link:not(.collapsed) .bi-chevron-down {
  	transform: rotate(180deg);
}

.sidebar-nav .nav-content {
	padding: 5px 0 0 0;
	margin: 0;
	list-style: none;
}

.sidebar-nav .nav-content a {
	display: flex;
	align-items: center;
	font-size: 14px;
	font-weight: 600;
	color: #0c3b2e;
	transition: 0.3;
	padding: 10px 0 10px 40px;
	transition: 0.3s;
}

.sidebar-nav .nav-content a i {
	font-size: 6px;
	margin-right: 8px;
	line-height: 0;
	border-radius: 50%;
}

.sidebar-nav .nav-content a:hover, .sidebar-nav .nav-content a.active {
  	color: #28a745;
}

.sidebar-nav .nav-content a.active i {
  	background-color: #28a745;
}

/* Filter dropdown */
.dashboard .filter {
	position: absolute;
	right: 0px;
	top: 15px;
}

.dashboard .filter .icon {
	color: #aab7cf;
	padding-right: 20px;
	padding-bottom: 5px;
	transition: 0.3s;
	font-size: 16px;
}

.dashboard .filter .icon:hover, .dashboard .filter .icon:focus {
  	color: #28a745;
}

.dashboard .filter .dropdown-header {
  	padding: 8px 15px;
}

.dashboard .filter .dropdown-header h6 {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 1px;
	color: #aab7cf;
	margin-bottom: 0;
	padding: 0;
	}

.dashboard .filter .dropdown-item {
  	padding: 8px 15px;
}

/* Info Cards */
.dashboard .info-card {
  	padding-bottom: 10px;
}

.dashboard .info-card h6 {
	font-size: 28px;
	color: #0c3b2e;
	font-weight: 700;
	margin: 0;
	padding: 0;
}

.dashboard .card-icon {
	font-size: 32px;
	line-height: 0;
	width: 64px;
	height: 64px;
	flex-shrink: 0;
	flex-grow: 0;
}

.dashboard .units-card .card-icon {
	color: #2eca6a;
	background: #e0f8e9;
}

.dashboard .lectures-card .card-icon {
	color: #ff771d;
	background: #ffecdf;
}

/* Activity */
.dashboard .activity {
  	font-size: 14px;
}

.dashboard .activity .activity-item .activity-label {
	color: #888;
	position: relative;
	flex-shrink: 0;
	flex-grow: 0;
	min-width: 64px;
}

.dashboard .activity .activity-item .activity-label::before {
	content: "";
	position: absolute;
	right: -17px;
	width: 4px;
	top: 0;
	bottom: 0;
	background-color: #dfdfe6;
}

.dashboard .activity .activity-item .activity-badge {
	margin-top: 3px;
	z-index: 1;
	font-size: 11px;
	line-height: 0;
	border-radius: 50%;
	flex-shrink: 0;
	border: 3px solid #fff;
	flex-grow: 0;
}

.dashboard .activity .activity-item .activity-content {
	padding-left: 10px;
	padding-bottom: 20px;
}

.dashboard .activity .activity-item:first-child .activity-label::before {
  	top: 5px;
}

.dashboard .activity .activity-item:last-child .activity-content {
  	padding-bottom: 0;
}

.profile .profile-card img {
  	height: 120px;
	width: 120px;
}

.profile .profile-card h2 {
	font-size: 24px;
	font-weight: 700;
	color: #2c384e;
	margin: 10px 0 0 0;
}

.profile .profile-card h3 {
  	font-size: 18px;
}

.profile .profile-card .social-links a {
	font-size: 20px;
	display: inline-block;
	color: rgba(1, 41, 112, 0.5);
	line-height: 0;
	margin-right: 10px;
	transition: 0.3s;
}

.profile .profile-overview .row {
	margin-bottom: 20px;
	font-size: 15px;
}

.profile .profile-overview .card-title {
  color: #0c3b2e;
}

.profile .profile-overview .label {
	font-weight: 600;
	color: rgba(1, 41, 112, 0.6);
}

.profile .profile-edit label {
	font-weight: 600;
	color: rgba(1, 41, 112, 0.6);
}

.profile .profile-edit img {
  	width: 120px;
}

.error-404 {
  	padding: 30px;
}

.error-404 h1 {
	font-size: 180px;
	font-weight: 700;
	color: #28a745;
	margin-bottom: 0;
	line-height: 150px;
}

.error-404 h2 {
	font-size: 24px;
	font-weight: 700;
	color: #0c3b2e;
	margin-bottom: 30px;
}

.error-404 .btn {
	background: #218838;
	color: #fff;
	padding: 8px 30px;
}

.error-404 .btn:hover {
  	background: #3e4f6f;
}

@media (min-width: 992px) {
	.error-404 img {
		max-width: 50%;
	}
}

.footer {
	padding: 20px 0;
	font-size: 14px;
	transition: all 0.3s;
	border-top: 1px solid #cddfff;
}

.footer .copyright {
	text-align: center;
	color: #0c3b2e;
}

/* Custom Button Overrides */
.btn-primary {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.btn-primary:hover {
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
}

.btn-primary:focus, .btn-primary.focus {
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
    box-shadow: 0 0 0 0.25rem rgba(40, 167, 69, 0.5);
}

.btn-primary:active, .btn-primary.active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #1e7e34;
    border-color: #1c7430;
}

.bg-primary {
    background-color: #28a745 !important;
}
